@charset "UTF-8";
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-items: center;
}

.card.medium {
  width: 300px;
  height: 400px;
}

.card-image {
  width: 300px;
  height: 200px;
}

@media only screen and (min-width : 601px) {
  #toast-container {
    top: 2%;
    right: 40% !important;
    left: 40% !important;
    width: 20%;
  }
