{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/namu.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

  <title>Namukilke</title>
</head>
<body>
  <div class="container center-align">
    <div class="row section">
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    </div>

    {% block body %}

    {% endblock body %}
  </div>

  <script>
    {% if messages %}
      {% for message in messages %}
        var toastHTML = '<h5>{{ message }}</h5>';
      {% endfor %}
        window.onload = function(){
          M.toast({html: toastHTML});
        };
      {% endif %}
  </script>

</body>
</html>
