{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/namu.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

  <title>Namukilke</title>
</head>
<body>
  <div class="container center-align">

    <div id="error-modal" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    {% block body %}

    {% endblock body %}
  </div>

  <!--- Show Success/Warning messages.
  Throw an error modal instead if not enough funds. -->
  <script>
    {% if messages %}
      {% for message in messages %}
        var toastHTML = '{{ message }}';
        var toastTag = '{{ message.tags }}';
        var toastClass = 'toast-' + toastTag;
      {% endfor %}

      if (toastTag == 'error') {
        $('#error-modal').modal();
        $('#error-modal').modal('open');
      } else {
        window.onload = function(){
          M.toast({
            html: toastHTML,
            classes: toastClass
          });
        };
      }
    {% endif %}
  </script>

</body>
</html>
