{% extends 'namu/base.html' %}

{% block body %}

{% load static %}

  <div class="row section">
    <div class="col s6 offset-s3">
      <h3>Namukilke</h3>
      <div class="divider"></div>
      <h5>{{ user.name }}</h5>
      <h6>Account balance: {{ balance }} €</h6>
    </div>
  </div>
  <div class="row">
    <div class="col s6 right-align">
      <a class="waves-effect waves-light btn" href={% url "index" %}>Change account</a>
    </div>
    <div class="col s6 left-align">
      <a class="waves-effect waves-light btn" href={% url "topup" user.id %}>Add more funds</a>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row section">
    <div class="col s12">
      <h5>Grab some food</h5>
    </div>
  </div>

  <div class="row" style="display:grid;grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));justify-items: center;">
    {% for product in product_list %}
        <div class="card medium" style="width:300px;height:400px;">
          <div class="card-image" style="max-width:auto;max-height:200px;">
            <a href="#">
              <img src="{% static product.picture %}" onclick="document.getElementById('buy-{{ forloop.counter }}').submit();"/>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">{{ product.name }} - {% static product.picture %}</span>
            <span class="card-title">{{ product.price }} €</span>
            <p>{{ product.inventory_level }} left in stock</p>
          </div>
          <div class="card-action">
            <form id="buy-{{ forloop.counter }}" action={% url "buy" user.id %} method="post">
              {% csrf_token %}
              <input name="product_id" type="hidden" value="{{ product.id }}">
              <button class="btn waves-effect waves-light" type="submit">Buy</button>
            </form>
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="divider"></div>

{% endblock body %}
