{% extends 'namu/base.html' %}

{% block body %}

  <div class="row section">
    <div class="col s12">
      <h3>Namukilke</h3>
      <h5>{{ user.name }}</h5>
      <h6>Account balance: {{ user.account_balance }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col s6 right-align">
      <a class="waves-effect waves-light btn" href={% url "index" %}>Change account</a>
    </div>
    <div class="col s6 left-align">
      <a class="waves-effect waves-light btn" href={% url "buy" user.id %}>Purchase snacks</a></a>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row section">
    <div class="col s12">
      <h3>Add funds to your account</h3>
    </div>
  </div>

  <form action={% url "topup" user.id %} method="post">
      {% csrf_token %}
      <label for="amount">Amount: </label>
      <input name="amount" type="number" value="0.00"> <br>
      <input name="payment_method" type="radio" value="c" checked> Cash <br>
      <input name="payment_method" type="radio" value="m"> MobilePay <br>
      <button class="btn waves-effect" type="submit">Deposit</button>
  </form>

{% endblock body %}
