{% extends 'namu/base.html' %}

{% block body %}

  <div class="row section">
    <div class="col s6 offset-s3">
      <h3>Namukilke</h3>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row section">
    <div class="col s4 offset-s4">
      <h5 class="section">Choose an existing user</h5>
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="user-name" class="autocomplete">
        <label for="user-name">Search with name or user id</label>
      </div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row section">
    <form class="col s4 offset-s4" action={% url "index" %} method="post">
      <h5 class="section">Create a new user</h5>
      <div class="row">
        {% csrf_token %}
        <div class="input-field">
          <i class="material-icons prefix">person_add</i>
          <input type="text" name="name" id="name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <button class="btn waves-effect waves-light" type="submit">Create new user</button>
        </div>
      </div>
    </form>
  </div>
  <div class="divider"></div>

  List of users (for debugging)
  <ul>
  {% for user in user_list %}
      <li>
          <a href={% url "buy" user.id %}>{{ user.name }} </a>
      </li>
  {% endfor %}
  </ul>


  <script>
    var user_data = {{ user_autocomplete|safe }}
    $(document).ready(function(){
      $('input.autocomplete').autocomplete({
        data: user_data,
        onAutocomplete: function(){
          var name = $("#user-name").val();
          var n = name.indexOf("-");
          var user_id = name.slice(0, n - 1);
          location.assign(location + "id/" + user_id)
        },
      });
    });

  </script>

{% endblock body %}
