{% extends 'namu/base.html' %}

{% block body %}

  <div class="row section">
    <div class="col s12">
      <h3>Namukilke</h3>
      <h5>Choose an existing user or create a new one</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="input-field"> <!--- TODO: ei jostain syystä mene pienemmässä koossa keskelle -->
        <i class="material-icons prefix">person</i>
        <input type="text" id="user-name" class="autocomplete">
        <label for="user-name">Search with name or user id</label>
      </div>
    </div>
  </div>
  <div class="row section">
    <div class="col s12">
      <a class="waves-effect waves-light btn" href={% url "user-create" %}>Create new user</a>
    </div>
  </div>

  List of users (for debugging)
  <ul>
  {% for user in user_list %}
      <li>
          <a href={% url "buy" user.id %}>{{ user.name }} </a>
      </li>
  {% endfor %}
  </ul>

  <script>
    var user_data = {{ user_autocomplete|safe }}
    $(document).ready(function(){
      $('input.autocomplete').autocomplete({
        data: user_data,
        onAutocomplete: function(){
          var name = $("#user-name").val();
          var n = name.indexOf("-");
          var user_id = name.slice(0, n - 1);
          location.assign(location + "id/" + user_id)
        },
      });
    });

  </script>

{% endblock body %}
