{% extends 'namu/base.html' %}

{% block body %}

  <h3>Welcome to Namukilke!</h3>
  <a href={% url "user-create" %}>Create new user</a>
  <br>
  Choose a user:
  <ul>
  {% for user in user_list %}
      <li>
          <a href={% url "buy" user.id %}>{{ user.name }} </a>
      </li>
  {% endfor %}
  </ul>
  <br>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
         <i class="material-icons prefix">textsms</i>
         <input type="text" id="demo-auto" class="autocomplete">
         <label for="demo-auto">Enter a Letter</label>
        </div>
      </div>
    </div>
  </div>


  <script>
    var user_data = {{ user_autocomplete|safe }}
    $(document).ready(function(){
      $('input.autocomplete').autocomplete({
        data: user_data,
      });
    });
  </script>

{% endblock body %}
